.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.tlalogo{
    width:60px;
    height:60px;
}
.navlist ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem;
}