:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --primary:#00a19b;
		--primary-light:#56d3cc;
		--primary-dark:#00726d;
		--secondary:#ffeb3b;
		--secondary-light:#ffff72;
		--secondary-dark:#c8b900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: black;

}

a {
  color: inherit;
  text-decoration: none;
}



.pagemax{
  /* max-width: 1200px; */
  margin: 0 auto;
}

